# IntelliJ IDEA files
.idea/
*.iml

# Build output directories
out/
build/
target/

# Compiled class file
*.class

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Java crash logs
hs_err_pid*
replay_pid*

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/
